
body {
    background-color: #9fbad1; 
    padding: 20px;             
}


h1 {
    color: #2e8b57;            
    font-family: 'Arial', sans-serif;
}


p {
    color: #8b0000;            
    font-family: 'Georgia', serif;
}

